.iik
.pdb
*.ilk
*.pdb
Kirillov_lab1_cpp/.vs/Kirillov_lab1_cpp/v16/.suo
*.db
*.db-shm
*.db-wal
*.opendb
*.ipch
*.tlog
*.log
*.idb
*.vcxproj
*.filters
*.user
*.cache
*.txt
*.exe
*.obj
*.pch
*.res
*.recipe
*.rc
*.config
*.csproj
Kirillov_lab1_sharp/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
*.settings
*.dat
Debug/FileMapping.dll
*.dll
*.exp
.vs/Kirillov_lab1_sharp/v16/.suo
*.dll
.vs/Kirillov_lab1_sharp/v16/.suo
*.resources
*.resx
